*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}


/* laptops, pantallas, grandes */
@media screen and (max-width: 1200px) {
	*,
	*::before,
	*::after {
		font-size: 72%;
		
	}
}

/* laptops, pantalladas medianas */
@media screen and (max-width: 992px) {
	*,
	*::before,
	*::after {
		font-size: 70%;
	}
}

/* Tabletas medianas */
@media screen and (max-width: 768px) {
	*,
	*::before,
	*::after {
		font-size: 66%;
	}
}

/* Tabletas, telefonos */
@media screen and (max-width: 600px) {
	*,
	*::before,
	*::after {
		font-size: 64%;
	}
}

/* Telefonos */
@media screen and (max-width: 600px) {
	*,
	*::before,
	*::after {
		font-size: 62.5%;
	}
}

/* Telefonos modernos */
@media screen and (max-width: 400px) {
	*,
	*::before,
	*::after {
		font-size: 30.5%;
	}
}



  

